extends layout

block content
   h1= title
   p 加入使用者
   include top_banner
   table
    form(method='post', action='/users/save')
     tr 
      td 使用者帳號 
      td
       input(name='username',type='text')
    
      tr
        td 使用者密碼
        td 
         input(name='password', type='password')
      tr
        td 使用者姓氏
        td
         input(name='lastname', type='text')
     tr
        td 使用者名字
        td
          input(name='firstname', type='text')
     tr
        td 使用者Email
        td
          input(name='email', type='text')
  
    
     tr
        td 使用者身份
        td
              select(name='role')
                 -for role in roles
                     option(value=role.value, label=role.label)
             
     tr
       td
       td
          input(name='Submit',value='送出',type='submit')
  
  
